.qua-button {
  align-self: flex-start;
  height: 88px;
  line-height: 88px;
  padding:0px 50px;
  font-size: 28px;
  border-radius: 50px;
  text-align: center;
  /*  #ifndef  rn  */
  cursor: pointer;
  /*  #endif  */

  &--primary {
    background-color: #fa2c19;
    border: 1px solid transparent;
    color:#fff;
  }
}