.button {
    background-color: #1677ff;
    position: relative;
    padding: 8px 28px;
    text-align: center;
    border: 1px solid #1677ff;
    border-radius:6px;
    /*postcss-pxtransform rn eject enable*/
    display: inline-block;
    box-sizing: border-box;
    /*postcss-pxtransform rn eject disable*/
}

.button-text {
    font-size: 28px;
    color: #fff;
}