.button, .default-button {
    position: relative;
    text-align: center;
    border-radius:6px;
    background-color: #ffffff;
    border: 1px solid #eee;
}

.primary-button {
    background-color: #1677ff;
    border: 1px solid #1677ff;
}

.success-button {
    background-color: #00b578;
    border: 1px solid #00b578;
}

.danger-button {
    background-color: #ff3141;
    border: 1px solid #ff3141;
}

.warning-button {
    background-color: #ff8f1f;
    border: 1px solid #ff8f1f;
}

.white {
    color: #fff;
}

.mini-text {
    font-size: 26px;
    line-height: 26px;
}

.small-text {
    font-size: 30px;
    line-height: 30px;
}

.middle-text {
    font-size: 28px;
    line-height: 28px;
}

.large-text {
    font-size: 36px;
    line-height: 36px;
}

.mini-button {
    padding: 8px 28px;
}

.small-button {
    padding: 8px 28px;
}

.middle-button {
    padding: 8px 28px;
}

.large-button {
    padding: 60px 40px;
}