.cell {
    position: relative;
    display: flex;
    line-height: 40px;
    padding: 26px 32px;
    background: #fff;
    border-radius: 12px;
    color: #666;
    margin: 2px 0;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.cell-title {
    font-size: 28px;
    flex:1;
}
.cell-value {
    text-align: right;
    font-size: 28px;
    color: #ccc;
}